In [ ]:
tuple_001 = ("misrak","fitsum","selemon","dawit")

Tuples:


> Used to store a multiple items in a single variable


> Tuple is a collections which is ordered and unchangeable

> Tuples are written with round brackets

In [ ]:
tuple_001

('misrak', 'fitsum', 'selemon', 'dawit')

Tuples items:


*   Ordered and unchangeable
*   Allow duplicate values

we can see the type of the tuple like the following

In [ ]:
type(tuple_001)

tuple

we can check if tuple with only one item is possible or not

In [ ]:
tuple_002 = (2)

In [ ]:
tuple_002

2

In [ ]:
type(tuple_002)

int

so this shows that tuple with a single elements or items are impossible.

We can create tuples using the following two methods:


1.   round brackets---->()
2.   tuple constructor---->tuple()

In [ ]:
#method one
tuple_003 = (1,2,3,4,5)
tuple_003

(1, 2, 3, 4, 5)

In [ ]:
type(tuple_003)

tuple

In [ ]:
#method two : using tuple  constructor
tuple_004 = tuple((1,2,3,4,5))
tuple_004

(1, 2, 3, 4, 5)

In [ ]:
type(tuple_004)

tuple

We can access the tuples items or elements using the index referencing which is mentioning the index number in the square brackets like the following example

In [ ]:
set_005 = tuple((1,2,3,4,5,6))
set_005

(1, 2, 3, 4, 5, 6)

In [ ]:
#let us display the element at the first index which is at 0(zero) index
set_005[0]

1

In python negative indexing is also possible:


```
The last items will be at the index of -1
```
let us proof it by example

In [ ]:
tuple_006 = tuple((1,2,3,4,5,7))
tuple_006

(1, 2, 3, 4, 5, 7)

In [ ]:
#we can display the last element using negative indexing
tuple_006[-1]

7

In Python we can also use the range of indexes, by specifying where to start and where to stop.

In [ ]:
tuple_007 = tuple((1,2,3,4,5))
tuple_007[1:4]

(2, 3, 4)

We can also use negative indexes ranging

In [ ]:
tuple_008 = tuple((1,23,4,4,5,6))
tuple_008[-4:-1]

(4, 4, 5)

We can check if the items exist in the tuple like the following example:

In [ ]:
tuple_009 = tuple(("apple","banana"))
if "banana" in tuple_009:
  print("Yes, banana is there in the tuple_009")

Yes, banana is there in the tuple_009

Very interesting concepts: ---> as we know tuples are immutable which means we cant change the items once the tuple is created. but the is a workaround here, we can change the tuples into the list and edit or change the value needed to be changed and then change the list to tuple.

In [ ]:
tuple_001 = tuple(("fitsum","misrak","selemon"))

In [ ]:
#tuple_001[1]="chala"---> this show the error becuase we can change the items directly

In [ ]:
#change the tuples into the list
list_001 = list(tuple_001)

In [ ]:
#change the items you wants to see changed
list_001[1]="chala"
tuple_001

('fitsum', 'misrak', 'selemon')

In [ ]:
#now change the list back to the tuple and see the result
tuple_001 = tuple(list_001)

In [ ]:
tuple_001

('fitsum', 'chala', 'selemon')

LOOP OVER TUPLES

In [1]:
mytuple = ("banana","orange","lemon")
print(mytuple)

('banana', 'orange', 'lemon')

In [3]:
for i in range(len(mytuple)):
  print(mytuple[i])

banana
orange
lemon

JOINING TWO TUPLES

In [4]:
tuple01 = ("fitsum","misrak","makida")
tuple02 = ("fasil","seble","helen")
tuple_joined = tuple01+tuple02

In [5]:
tuple_joined

('fitsum', 'misrak', 'makida', 'fasil', 'seble', 'helen')